{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<header class="header">
    <h1 class="header-title">A Story Among Us</h1>
</header>
<main class="main-content">
    <h2 class="main-title">Create or Join a Room</h2>
        <form method="post" class="game-form">
                <div class="create-container">
                    <input
                        type="text"
                        placeholder="Type user name here..."
                        name="user_name"
                        value="{{user_name}}"
                        class="input-field"
                    />
                    <button type="submit" name="create" class="btn">
                        Create Room
                    </button>
                </div>
                <div class="join-container">
                    <input
                        type="text"
                        placeholder="Type room ID here..."
                        name="room_id"
                        value="{{room_id}}"
                        class="input-field"
                    />

                    <button type="submit" name="join" class="btn">Join Room</button>
                </div>
        </form>
    </div>
    {% if error %}
    <ul class="error-list">
        <li class="error-item">{{error}}</li>
    </ul>
    {% endif %}
</main>
<footer class="footer">
    <p>&copy; 2024 A Story Among Us, HackSheffield 9</p>
</footer>
{% endblock %}
