{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<header>
  <h1>A Story Among Us</h1>
</header>
<main>
  <section id="room-section">
      <h2>Create or Join a Room</h2>
      <form action="{{ url_for('create_room') }}" method="post">
          <input
              type="text"
              name="room_name"
              id="room_name"
              placeholder="Room Name"
              required
          />
          <button type="submit">Create Room</button>
      </form>
      <form action="{{ url_for('join_room') }}" method="post">
          <input
              type="text"
              name="room_name"
              id="join_room_name"
              placeholder="Room Name"
              required
          />
          <button type="submit">Join Room</button>
      </form>
  </section>
</main>
<footer>
  <p>&copy; 2024 HackSheffield 9</p>
</footer>
{% endblock %}