{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<!-- Main Game 'Box' where messages go -->
<section id="game-box">
    <!-- Initial prompt goes in this h1 tag -->
    <h1></h1>
    
    <div class="messages-container" id="messages-container"></div>
    <div>
        <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
        <button type="button" name="send" id="send-button" onClick="sendMessage()">Send</button>
    </div>
</section>
<!-- List of user names on the side of the page -->
<aside>
    <h1>Room Code:</h1>
    <h1>{{room_id}}</h1>
</aside>
<script type="text/javascript">
    var socket_io = io();

    const messages = document.getElementById("messages-container")

    const createMessage = (user_name, message) => {
        const content = `
        <div class="text">
            <span>
                <strong>${user_name}</strong>: ${message}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socket_io.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socket_io.emit("message", { data: message.value });
        message.value = "";
    };
</script>
{% endblock %}