{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<!-- Main Game 'Box' where messages go -->
<main class="main-content">
    <!-- List of user names on the side of the page -->
    <aside class="info-col">
        <div class="room-info-container">
            <h3>Room code:</h3>
            <h3>{{room_id}}</h3>
        </div>
        <div class="util-btn-container">
            <button
                type="button"
                name="copy"
                id="copy-button"
                class="btn"
                onClick="navigator.clipboard.writeText('{{room_id}}')"
            >
                Copy
            </button>
            <button
                type="button"
                name="start"
                id="start-button"
                class="btn"
                onClick="setup_game()"
            >
                Start Game
            </button>
            <button
                type="button"
                name="leave"
                id="leave-button"
                class="btn"
                onClick="window.location.href='/'"
            >
                Leave Room
            </button>
        </div>
    </aside>



    <section id="game-box" class="game-box">
        <!-- Initial prompt goes in this h1 tag -->
        <h1 class="game-prompt"></h1>
        <div class="messages-container" id="messages-container"></div>
        <div style="display: none;" id="instruction-container" class="input-container">
            <p id="current-instruction">{{current_instruction}}</p>
            <input
                type="text"
                rows="1"
                placeholder="Type your way"
                name="message"
                id="message"
                class="input-field"
            />
            <button
                type="submit"
                name="send"
                id="send-button"
                class="btn"
                onClick="sendMessage()"
            >
                Write
            </button>
        </div>
    </section>
</main>

<script type="text/javascript">
    document
        .getElementById("message")
        .addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("send-button").click();
            }
        });
</script>

<script type="text/javascript">
    var socket_io = io();

    const messages = document.getElementById("messages-container");

    const createMessage = (user_name, message) => {
        const content = `
        <div class="text">
            <span>
                <strong>${user_name}</strong>: ${message}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };



    socket_io.on("your_turn", () => {
      // const instruction = data.current_instruction;
      // console.log(instruction);
      document.getElementById("current-instruction").innerText = "Its your turn! ";
      document.getElementById("instruction-container").style.display = "block";
      console.log("YOUR TURN!");
  });

  socket_io.on("not_your_turn", () => {
      document.getElementById("instruction-container").style.display = "none";
      console.log("NOPE!");
  });


    socket_io.on("update_instruction", (data) => {
      // const instruction = data.current_instruction;
      // console.log(instruction);
      // document.getElementById("current-instruction").innerText = instruction;
      document.getElementById("instruction-container").style.display = "block";
      console.log("TEST!");
  });

    socket_io.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        //$ add different cases
        const message = document.getElementById("message");
        if (message.value == "") return;

        const current_instruction = "{{ current_instruction }}";
        const started = "{{ started }}";

        // check if game has started
        if (started === "false"){
            // check user entered a single word for keyword
            if (
                current_instruction ===
                "Enter a word used to generate the start of the story"
            ) {
                const wordCount = message.value.trim().split(/\s+/).length;
                if (wordCount !== 1) return;
            }
            
        }


        socket_io.emit("message", { data: message.value });
        message.value = "";
    };

    const setup_game = () => {
        socket_io.emit("setup_game");
    };
</script>
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
